<!DOCTYPE html>
<html>
<head>
  <title>Product TV Dashboard</title>
  <meta charset="utf-8">
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.5/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.5/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="sk-cube-grid preloader">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>

  <div id="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
  </div>

  <footer>
    <button class="btn-load-all"type="button" name="button">Load All</button>
  </footer>

  <!-- JS -->
  <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="//unpkg.com/packery@2.1/dist/packery.pkgd.min.js"></script>
  <script type="text/javascript" src="//npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/noelboss/featherlight/1.7.5/release/featherlight.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/noelboss/featherlight/1.7.5/release/featherlight.gallery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
